
<div class="nav">
    <nav class="navbar navbar-inverse navbar-fixed-top ">
        <div class="container-fluid">
            <div class="navbar-header menu">
                
                <h5 class="navbar-brand titulli">Number XYZ</h5>
                <a href="/logout"><h6 class="navbar-brand menuItem">Logout</h6></a> 
                <router-link to="/multiplayer" class="menuItem"><h6 class="navbar-brand" >Multi</h6></router-link>
                <router-link to="/singelplayer" class="menuItem"><h6 class="navbar-brand" >Single</h6></router-link>
                   
            </div>
        </div>
    </nav>
</div>





