<div>
	<h2 class="nenTitulli">Create new room</h2>
	<br><br><br><br>

	<div class="frmNewGame">
		<div id="Level" >
			<span style="float: left;"><b>How many digits:  </b> </span>
			<ul class="ulRadio">
			  <li>
			    <input type="radio" class="radio2" id="f-option" name="selector" v-model="diff" v-bind:value="2">
			    <label for="f-option">2</label>
			    
			    <div class="check"></div>
			  </li>
			  
			  <li>
			    <input type="radio" class="radio2" id="s-option" name="selector" v-model="diff" v-bind:value="3">
			    <label for="s-option">3</label>
			    
			    <div class="check"><div class="inside"></div></div>
			  </li>
			  
			  <li>
			    <input type="radio" class="radio2" id="t-option" name="selector" v-model="diff" v-bind:value="4">
			    <label for="t-option">4</label>
			    
			    <div class="check"><div class="inside"></div></div>
			  </li>
			</ul>
		</div>
		
		<div id="NrPlayers">
			<span  style="float: left;"><b>Players:</b></span>

			<ul class="ulRadio">
			  <li>
			    <input type="radio" class="radio1"  id="t1-option" v-model="nr_player" name="selector1"  v-bind:value="2">
			    <label for="t1-option">2</label>
			    
			    <div class="check"></div>
			  </li>
			  
			  <li>
			    <input type="radio" class="radio1" id="t2-option" v-model="nr_player" name="selector1"  v-bind:value="3">
			    <label for="t2-option">3</label>
			    
			    <div class="check"><div class="inside"></div></div>
			  </li>
			  
			  <li>
			    <input type="radio" class="radio1" id="t3-option" v-model="nr_player" name="selector1" v-bind:value="4">
			    <label for="t3-option">4</label>
			    
			    <div class="check"><div class="inside"></div></div>
			  </li>

			  <li>
			    <input type="radio" class="radio1" id="t4-option"  v-model="nr_player" name="selector1" v-bind:value="5">
			    <label for="t4-option">5</label>
			    
			    <div class="check"><div class="inside"></div></div>
			  </li>
			</ul>


		</div>
		
		<div id="RoomName">
			<span class="span1"><b>Name of room: </b> </span>
			<input type="text" name="NameRoom" class="input-text-1" v-model="name_room">
		</div>

		<div class="ftmRight">
			<router-link to="/startmultiplayer"> 
				<input class="buton2" type="submit" name="CreateRoom" value="Create" @click="CreateRoom()">
			</router-link>
							
			<input class="buton3" type="button" name="Clear" value="Clear" @click="ClearForm()">
		</div>
	</div>

</div>