<div class="singelplayer">
	<table class="table">
		<tr>
			<td colspan="1"><span class="span1">With how many number do you want to play?</span></td>
		</tr>
		<tr>
			<td>
				<router-link to="/game" >
					<button  class="buton5" @click="Level_singel(2)">
						<span>2</span>
					</button>
				</router-link>
				
				<router-link to="/game">
					<button class="buton5"@click="Level_singel(3)" >
						<span>3</span>
					</button>
				</router-link>
			
				<router-link to="/game">
					<button  class="buton5" @click="Level_singel(4)">
						<span>4</span>
					</button>
				</router-link>

			</td>
		</tr>
	</table>

</div>